.organizarDadosQuestao{
    position: relative;
    margin-bottom: 40px;
    min-height: 70px;
}

.numeroDaQuestao{
    position: relative;
    margin-top: 40px;
}

.dadosQuizz{
    position: relative;
    min-height: 70px;
    font-weight: bold;
    text-align: center;
}

.nomeQuestao{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    min-width: 160px;

    color: #103871;
    font-weight: bold;

    border-radius: 12px;
    background: #f4f5fa;
    padding: 0.5rem 1rem 0.5rem;
    border: 0.1rem solid #d6ccff;
}
.contemImagem, .numeroRespostas{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mostrarNumeroRespostas{
    position: relative;
    bottom: 3px;
}
.button{
    background-color: #fff;
    color: #0779e4;
    position: relative;
    transform: translateY(-50%);
}
.botaoEditar{
    top:50%;
}
.botaoGuardarNome{
    top: 45%;
    left:3%;
    margin-right: 10px;
}
.button:hover{
    background-color: #0779e4;
    color: #fff;
}

