* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1E272B inset !important;
    -webkit-text-fill-color: white !important;
}

form {
    height: 450px;
    width: 450px;
    color: #A4B2B8;
    border-radius: 8px;
    background: #1E272B;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h2,h4{
    color: white;
    margin: 20px;
    position: center;
}

button{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.58);
}

.input-info {
    margin-top: 30px;
    margin-bottom: 15px;
}

.log-sign{
    text-align: center;
    margin-top: 35px;
}
.signup,
.login{
    padding: 10px;
    margin-top: 16px;
    background: #435688;
    color: #fff;
    width: 103px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
}

.log-sign .signup>a{
    color: #fff;
    text-decoration: none;
}

.log-sign button:hover{
    background:none;
    border:1px solid #828999;
    color: #828999;
}

.send{
    padding: 10px;
    margin-top: 16px;
    background: #435688;
    color: #fff;
    width: 103px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
    margin-left: 32%
}

.voltar{
    padding: 10px;
    margin-top: 16px;
    background: #000000;
    color: #fff;
    width: 103px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
}

.voltar:hover{
    background:none;
    border:1px solid #828999;
    color: #828999;
}

.form-check{
    margin-left:45px;
    margin-top: 10px;
}

.TiposQuestao{
    margin-left:20px;
    margin-top:20px;
    transition: 0.5s;
}

.selecionarResposta{
    width: 230px; 
}

.textoLivre{
    width: 220px; 
}

.ativarHover_selecionarResposta:hover{
    font-size: 130%;
    cursor: pointer;
}

.ativarHover_textoLivre:hover{
    font-size: 130%;
    cursor: pointer;
}

#icon_selecionarResposta, #icon_textoLivre{
    display: none;
}

.selecionarResposta{
    margin-top: 60px;
}

label:hover{
    cursor: pointer;
}

body {
  background-image: url('img/background.jpg') ;
}