body{
    background: #848585;
}

#wrap {
    display: flex;
    padding-left: 20%;
    padding-top: 5%;
    width: 80%;
}

#left, #right {
    padding: 2%;
}

#right{
    background: white;
    width: 100%;
}

#left{
    background: white;
    width: 70%;
}

#containerAvaliacoes{
    border: rgb(208, 208, 212) solid 2px;
    max-height: 600px;
    min-height: 400px;
    overflow: scroll;
    padding: 10px;
}

.button{
    background-color: #ffffff;
    color: #0779e4;
}

.button:hover{
    background-color: #0779e4;
    color: #fff;
}

.btn-primary{
    background-color: #0779e4;
}

#alinharImgENomeCriador{
    width: 100px;
}

#imgPerfil{
    border: #CCF solid 4px;
    padding: 1px;
    border-radius: 70%;
    border-top-color: #0000FF;
    border-left-color: #0000FF;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

#criadorQuizz{
    position: relative;
    height: 100%;
    left:0;
}

#InformacoesQuizz{
    margin-top: 40px;
}

#InformacoesAvaliacoesQuizz{
    margin-top: 30px;
}


.organizarDadosQuestao{
    position: relative;
    margin-bottom: 40px;
    min-height: 70px;
}

.nomeAvaliacao{
    position: relative;
    margin-top: 40px;
}

.mostrarTextoAvaliacao{
    position: relative;
    float: left;
    height: 100px;
    overflow: scroll;
    margin-top: 10px;
    width: 90px;
    background: rgb(255, 255, 255);
}

.posicaoBotaoAvaliacao{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.posicaoDadosAvaliacao{
    position: absolute;
    bottom: 0;
    right: 10px;
    text-align: center;
}

.NotaAvaliação{
    margin-right: 10px;
}

.like{
    margin-left: 15px;
}

.Deslike{
    margin-left: 10px;
    transition: 0.5s;
}

.like:hover, .Deslike:hover{
    cursor: pointer;
    opacity: 50%;
}

.mostrarTextoAvaliacao:hover, .organizarDadosQuestao:hover{
    cursor: default;
}

.mostrarTextoAvaliacao::-webkit-scrollbar, #containerAvaliacoes::-webkit-scrollbar {
    -webkit-appearance: none;
}

.mostrarTextoAvaliacao::-webkit-scrollbar:vertical,  #containerAvaliacoes::-webkit-scrollbar:vertical{
    width: 11px;
}

.mostrarTextoAvaliacao::-webkit-scrollbar:horizontal,  #containerAvaliacoes::-webkit-scrollbar:horizontal{
    height: 11px;
}

.mostrarTextoAvaliacao::-webkit-scrollbar-thumb, #containerAvaliacoes::-webkit-scrollbar-thumb {
    border-radius: 8px;

    background-color: rgba(0, 0, 0, .5);
}

.footer-distributed {
    position: relative;
    bottom: -135px;
}

@media screen and (max-width:1288px) {
    #wrap {
        display: none;
        display:contents;
    }

    #right{
        width: 100%;
        height: 100%;
    }

    #left{
        width: 100%;
        height: 100%;

    }

    #left, #right{
      font-size: 30px;
    }

    #containerAvaliacoes{
        min-height: 900px;
    }

    .organizarDadosQuestao{
        position: relative;
        margin-bottom: 40px;
        min-height: 200px;
        width: 90%;
        min-width: 900px;
        border: 3px outset black;
    }
    
    #nomeCriador{
        font-size: 220%;
    }

    h2{
      font-size: 250%;
    }

    .mostrarTextoAvaliacao{
        max-height: 200px;
    }

    .button{
        font-size: 150%;
    }
    
    .button:hover{
        background-color: #0779e4;
        color: #fff;
    }
    
    .btn-primary{
        background-color: #0779e4;
    }
    
    #imgPerfil{
        margin-left: 12px;
        width: 250px;
        height: 250px;
    }

    /* Esta parte do código serve para esconder a mudança de cor do link quando clica-mos no mesmo */
    .footer-distributed p.footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        font: normal 40px sans-serif;
        color: inherit;
        transition: ease .25s;
    }


    .footer-distributed .footer-center p {
        color: #8f9296;
        font-size: 34px !important;
        margin: 0;
        position: center;
    }

    .footer-distributed {
        position: relative;
    }

}