body {
    background-color: rgb(77, 172, 164);
}

.containerQuestao {
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border-radius: 2px;
    width:70%;
    height:300px;
    background-color: white;
    margin-top: 1em;
}

#escolherImagem {
    display: none;
}

.alinharQuestao{
    display: inline-block;
}

.digitarQuestao{
    position: absolute;
    top: 50%;
    right: 0;
    left: 55px;
    transform: translateY(-50%);
    text-align: center;
    max-height: 300px;
    overflow-y: scroll;
    cursor: text;
    
}

.digitarQuestao:active, .digitarResposta:active{
    border:none;
}

[contenteditable]:focus {
    outline: 0px;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
}

.button{
    background-color: #fff;
    color: #0779e4;
}

.button:hover{
    background-color: #0779e4;
    color: #fff;
}

.btn-primary{
    background-color: #0779e4;
}

.footer {
    position: relative;
    height: 40vh;
}


#adicionarResposta{
    position: relative;
    left:50%;
    transform: translate(-29px);
    border-radius: 80%;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: none;
}

#guardarTempImg{
    visibility:hidden;
}

.form-check-input{
    left:34px;
}

.form-check-input:hover, .fecharResposta:hover{
    cursor:pointer;
}

.containerOpcoesResposta{
    border-radius: 12px;
    background-color: #A155BD;
    margin: 5px;
    margin-top: 6%;
    height: 85%;
    min-height: 190px;
    max-height: 300px;
}

.containerResposta{
    border-radius: 5px;
    background-color: white;
    min-width: 200px;
    min-height: 150px;
    height: 80%;
    margin-top: 1%;
}

.digitarResposta{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    max-height: 98%;
    overflow-y: scroll;
    cursor:text;
}

.imagemQuestao{
    position: relative;
    width: 35%;
    top: -50px;
    height: 300px;
    border: 1px outset silver;
    display: none;
}

#guardarTempImg, #selecionarImagemQuizz{
    width:50px;
    height:50px;
    cursor:pointer;
}

.alturaLinha{
    position: relative;
    height:100%;
}