
* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

nav {
    margin: 0 auto;
    background: black;
    box-shadow:0 3px 15px rgba(0,0,0,.15);
}

nav::after {
    display: block;
    content: '';
    clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    color: blue;
    text-decoration: none;
    padding: 1rem 2rem;
    color:white;
    border-radius: 24px;
    transition: 0.5s;
    text-align: right;
}

nav li:hover ul, .menu li.over ul{
    display:block;
}

nav ul li a:hover {
    color: rgb(24, 139, 233);
}

nav li ul li{
    background-color: black;
    display:block;
    width:123px;
    color:white;
    align: right;
}


.dropar {
    display: none;
    position: absolute;
    background: #fff;
}

.direita{
    float: right;
    width:123px;
}


.dropar {
    display: none;
    position: absolute;
    background: #fff;
    text-align: center;
}
.colorBlack{
    color: black;
}

.direita{
    float: right;
    margin-right: 0px;
    width:123px;
}

#imgPerfil{
    border: #CCF solid 4px;
    padding: 1px;
    border-radius: 70%;
    border-top-color: #0000FF;
    border-left-color: #0000FF;
    width: 100px;
    height: 100px;

}

.divPosition{
    border-style: solid;
    border-color: coral;
    position: left;
    width: 30%;
    height: 110px;
}

.Informações{
    width: 560px;
    padding: 1rem;
    background-color: white;
    border-radius: 5%;
}

.borderFront{
    position:relative;
}

.changeImg{
    position:absolute;
    left: 130px;
    top: 50px;
    width: 110px;
    height: 30px;
    padding: 5px;
    margin-top: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
    background: white;

}

.changeImg:hover{
    background:#138ABE;
    color: white;

}

.textInsertImg{
    text-indent: 130px;
    font-size: 13px;
}

.input-info {
    margin-top: 20px;
    margin-bottom: 5px;
}

input[name="nome"],input[name="password"]  {
    border: 1px solid #828999;
    padding: 6px;
    border-radius: 5px;
    width: 65%;
    background: none;
    margin: 0px 5px 5px 10px;
    outline: none;
    transition: 0.5s;
    text-indent: 10px;
    overflow: hidden;
}

.barraPesquisa{
   position: relative;
   top: 10px;
   left: 30px;
   border: 1px solid #828999;
   padding: 6px;
   border-radius: 5px;
   width: 80%;
   outline: none;
   text-indent: 10px;
}


.search{
   position: relative;
   top: 13px;
   width: 200%;
   height: 25%;
   transition: 0.5s;
   outline: none;
   background: none;
   border:none;
   color:white;
   cursor: pointer;
}

.search:hover{
   font-size: 120%;
   top: 13px;
   left: -4px;
   color:rgb(24, 139, 233);
}

.criarQuizz{
   position: relative;
   left:30px;
}

th{
  text-align: left;
}

.button{
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
    background: white;
}

.button:hover{
    background: #dcdcdc;
}

.alterarFuncoes{
    color:red;
    text-decoration:none;
    transition: 0.5s;
}

.alterarFuncoes:hover{
    color:purple;
}

body{
    background-color: gray;
}

.imagensPopUp{
    position: absolute;
    top: 20%;
    left:30%;
}

.outCloseForm{
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

#showForm{
    display: none;
    width: 545px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}

.separarImagens{  
    border:none;
    width: 100%;
    box-shadow: 0 5px 5px 2px gray;
}

.centerTextPopUp{
    font-family: arial;
    align:middle;
}

.checkImages{

  height: 25px;
  width: 25px;
  cursor:pointer;
}