@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

.wrapper{
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}

h4{
    letter-spacing: -1px;
    font-weight: 400;
}

.selectImage, #imgPerfil, #changeImgPerfil{
    border: #CCF solid 4px;
    padding: 1px;
    border-radius: 70%;
    border-top-color: #0000FF;
    border-left-color: #0000FF;
    width: 100px;
    height: 100px;
}

.labelImage{
    margin:18px;
}

.radio{
    position:relative;
    top:-40px;
    font-weight: bold;
}

.divImage{
    border: #CCF solid 4px;
}

#nivel{  
    border: rgb(148, 148, 209) solid px;
    padding: 1px;
    border-radius: 80%;
    width: 60px;
    height: 60px;
    position:relative;
    left:60%;
    top: -20px;
}

.pontuacao{
    position:relative;
    left:47%;
    top: 40px;
    font-weight: bold;
}

label{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}

.form-control{
    border-radius: 10px;
}


.form-control:focus{
    box-shadow: none;
    border: 1.5px solid #0779e4;
}

#img-section{
    position: relative;
    left:-25%;
}

select{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

select:focus{
    outline: none;
}

.button{
    background-color: #fff;
    color: #0779e4;
}

.button:hover{
    background-color: #0779e4;
    color: #fff;
}

.btn-primary{
    background-color: #0779e4;
}

.danger{
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}
.danger:hover{
    background-color: #e20404;
    color: #fff;
}

@media(max-width:576px){
    .wrapper{
        padding: 25px 20px;
    }
    #deactivate{
        line-height: 18px;
    }
}

.changeImg{
    position:absolute;
    left: 130px;
    top: 50px;
    width: 110px;
    height: 30px;
    padding: 5px;
    margin-top: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
    background: white;

}

.changeImg:hover{
    background:#138ABE;
    color: white;

}

.textInsertImg{
    text-indent: 130px;
    font-size: 13px;
}

.criarQuizz{
   position: relative;
   left:30px;
}

th{
  text-align: left;
}

body{
    background-color: gray;
}

.imagensPopUp{
    position: relative;
    top: 3%;
    height:580px;
}

.outCloseForm{
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

#showForm{
    display: none;
    width: 545px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}

.separarImagens{  
    border:none;
    width: 100%;
    box-shadow: 0 5px 5px 2px gray;
}

.centerTextPopUp{
    font-family: arial;
}

.checkImages{

  height: 25px;
  width: 25px;
  cursor:pointer;
}

.inputDados{
    max-width: 80%;
}

.outUtilizador{
	color: blue;
	text-decoration: none !important;
    color:red;
    transition: 0.5s;
}


.custom {
  width: 150px;
}
.custom::-webkit-file-upload-button {
  visibility: hidden;
}
.newButton::before {
  content: 'Selecionar Imagem';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.newButton:hover::before {
  border-color: black;
}

.mostrarFicheiro{
    border:0;
    width: 150px;
    cursor:default;
    outline: none;
}

.mostrarFicheiro:hover:focus{
    border:0;
    outline: none;
}
.mostrarFicheiro:active{
    border:0;
    outline: none;
}

.selecionarImg{
    position: relative;
    top:35px;
}

.selecionarImgBtn{
    position: relative;
    top:65px;
    display:none;
}