* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1E272B inset !important;
    -webkit-text-fill-color: white !important;
}

#formGuardarQuizz {
    height: 480px;
    width: 450px;
    color: #A4B2B8;
    border-radius: 8px;
    background: #1E272B;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h2{
    color: white;
    position: center;
}

button{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.58);
}


.input-info {
    margin-top: 30px;
    margin-bottom: 15px;
}

input,input[type="email"],input[type="password"],input[type="confirmarpass"]  {
    border: 1px solid #828999;
    padding: 10px;
    border-radius: 5px;
    width: 92%;
    background: none;
    margin: 5px 5px 5px 17px;
    outline: none;
    transition: 0.3s;
    text-indent: 15px;
    overflow: hidden;
    color: white;
}

input[type="text"].nomeInteiro{
    width: 193px;
    background: none;
    margin: 5px 5px 5px 17px;
    outline: none;
    transition: 0.3s;
    text-indent: 15px;
    overflow: hidden;
    color: white;
}


.log-sign{
    text-align: center;
}
.signup,
.login{
    padding: 10px;
    margin-top: 16px;
    background: #435688;
    color: #fff;
    width: 103px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
}



.log-sign .signup>a{
    color: #fff;
    text-decoration: none;
}

.log-sign button:hover{
    background:none;
    border:1px solid #828999;
    color: #828999;
}

.send{
    padding: 10px;
    margin-top: 16px;
    background: #435688;
    color: #fff;
    width: 103px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
    margin-left: 32%
}

.voltar{
    padding: 10px;
    margin-top: 16px;
    background: #000000;
    color: #fff;
    width: 103px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
    text-align: center;
}

a{
    margin: 5px 5px 5px 17px;
    font-size: 12px;
    color:#5499C7;
    transition: 0.5s;
}

a:hover{
    color: #BB8FCE;
}

body {
  background-image: url('img/background.jpg') ;
}

/* CSS para o form Guardar Quizz */
#formGuardarQuizz{
    height: 550px;
}
#formGuardarQuizz .formContainer{
    height: 338px;
    width: 387px;
    margin-left: 30px;
}

#formGuardarQuizz .dropdown-menu{
    max-height: 160px;
    overflow-y: auto;
}

#formGuardarQuizz .dropdown-toggle{
    background-color:#646464;
}
#formGuardarQuizz .elemento:hover{
    background-color:#646464;
    color:white;
}

#formGuardarQuizz .inputGuardarQuizz{
    width: 175px;
    height: 30px;
    margin-left: 10px;
    color:white;
}

#formGuardarQuizz #nomeQuizz{
    margin-left: 25px;
}

#formGuardarQuizz .row{
    margin-top: 38px;
}

#formGuardarQuizz .rowEscreverDados{
    width: 303px;
}

#formGuardarQuizz #dropEscolariedade{
    margin-left: 30px;
}

#formGuardarQuizz .dropdown-menu{
    margin-left: 127px;
}

#formGuardarQuizz h2{
    color:white;
    margin-bottom: 50px;
}

#formGuardarQuizz #containerEscolherImagemQuizz{
    margin-top: 30px;
    margin-left:-15px;
}

#divEscolherImagemParaOQuizz .btn{
    position: relative;
    top: 118px;
    background-color: #fff;
    color: #0779e4;
}

#divEscolherImagemParaOQuizz .btn:hover{
    background-color: #0779e4;
    color: #fff;
}

#divEscolherImagemParaOQuizz .btn-primary{
    background-color: #0779e4;
}

#formGuardarQuizz .voltar:hover{
    background:none;
    border:1px solid #828999;
    color: #828999;
}

#formGuardarQuizz .voltar{
    margin-left:-15px;
}

#formGuardarQuizz .send:hover{
    background:none;
    border:1px solid #828999;
    color: #828999;
    align-self: right;
}

#divEscolherImagemParaOQuizz .outCloseForm{
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

#divEscolherImagemParaOQuizz #guardarImg{
    display: none;
}

#divEscolherImagemParaOQuizz #showForm{
    display: none;
    width: 545px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}

#divEscolherImagemParaOQuizz .separarImagens{  
    border:none;
    width: 100%;
    box-shadow: 0 5px 5px 2px gray;
}

#divEscolherImagemParaOQuizz .imagensPopUp{
    position: relative;
    top: 20%;
    height: 330px;
}

#divEscolherImagemParaOQuizz #mostrarImg{
    visibility: hidden;
}

#divEscolherImagemParaOQuizz #mostrarFicheiro{
    height: 150px;
    width: 250px;
}

