* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

nav {
	margin: 0 auto;
	background: black;
	box-shadow:0 3px 15px rgba(0,0,0,.15);
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: blue;
	text-decoration: none;
	padding: 1rem 2rem;
    color:white;
    border-radius: 24px;
    transition: 0.5s;
    text-align: right;
}

nav li:hover ul, .menu li.over ul{
    display:block;
}

nav ul li a:hover {
    color: rgb(24, 139, 233);
}

nav li ul li{
    background-color: black;
    display:block;
    width:123px;
    color:white;
}


.dropar {
	display: none;
	position: absolute;
	background: #fff;
}

.direita{
    float: right;
	width:123px;
}

#utilizador{
	text-align: center;
}