* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

.estiloMenu nav {
	margin: 0 auto;
	background: black;
	box-shadow:0 3px 15px rgba(0,0,0,.15);
}

.estiloMenu nav::after {
	display: block;
	content: '';
	clear: both;
}

.estiloMenu nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.estiloMenu nav ul li {
	float: left;
	position: relative;
}

.estiloMenu nav ul li a {
	display: block;
	color: blue;
	text-decoration: none;
	padding: 1rem 2rem;
    color:white;
    border-radius: 24px;
    transition: 0.5s;
    text-align: right;
}

.estiloMenu nav li:hover ul, .menu li.over ul{
    display:block;
}
#nomeUtilizador{
	display: block;
	color: blue;
	text-decoration: none;
	padding: 1rem 2rem;
    color:white;
    border-radius: 24px;
    transition: 0.5s;
    text-align: right;
}
.estiloMenu nav ul li a:hover {
    color: rgb(24, 139, 233);
}

.estiloMenu nav li ul li{
    background-color: black;
    display:block;
    width:123px;
    color:white;
}



.estiloMenu .dropar {
	display: none;
	position: absolute;
	background: #fff;
}

.estiloMenu .direita{
    float: right;
	width:123px;
}

.estiloMenu #utilizador{
	text-align: center;
}

.estiloMenu .barraPesquisa{
	position: relative;
	top: 10px;
	left: 30px;
	border: 1px solid #828999;
	padding: 6px;
	border-radius: 5px;
	width: 80%;
	height: 30PX;
	outline: none;
	text-indent: 10px;
 }
 
 .estiloMenu .search{
	position: relative;
	top: 13px;
	width: 200%;
	height: 25%;
	transition: 0.5s;
	outline: none;
	background: none;
	border:none;
	color:white;
	cursor: pointer;
 }
 
 .estiloMenu  .search:hover{
	font-size: 120%;
	top: 13px;
	left: -4px;
 }
 
 .estiloMenu  .criarQuizz{
	position: relative;
	left:30px;
 }

 
