.direita{
	position: absolute;
    right: 0;
}

#menuAdicionarQuestao, #menuEliminarQuizz{
	display: none;
}

#menuEliminarQuizz{

	margin-left:30px;
}

#registar{
	position: absolute;
	right: 100px;
}

#login{
	position: absolute;
	right: 20px;
}

.navbar-collapse{
	font-size: 18px;
}

#dropdownUtilizador{
	width:133px;
}

#menuGuardarQuestao{
	margin-right: 35px;
	width: 105px;
}

#menuCancelarQuestao, #menuGuardarQuestao{
	display: none;
}

.dropdown-menu, .tamanhoDropDown {
	min-width:115px;
	text-align: left;
	transition: 0.5s;
}

.tamanhoDropDown:hover{
	color: white;
	background-color: #6c757d !important;

}

.dropdown-menu{
	background-color: #6c757d;
}

@media screen and (max-width:991px) {
	.direita{
		position: relative;
	}
	
	.esquerda{
		position: absolute;
		left: 0;
	}	

	.nav-item{
		margin:10px;
	}

	#menuAdicionarQuestao{
		position: relative;
	}

	.esquerda{
		margin-left: 60px;
		width: 105px;
	}

}